{% extends 'base.html' %}

{% block title %} Crear nuevo cliente {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Crear un Cliente
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del cliente</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Crear Cliente</button>
        </form>
    </div>
    <div class="card-footer text-muted">
        &copy; {{ current_year }} HouseLife
    </div>
</div>

{% endblock %}
